.selectRect
{
	fill: none;
	stroke-width: 1px;
	stroke: darkgrey;
	stroke-dasharray: 1px;
}

svg > #background
{
	width: 100%;
	height: 100%;
	fill: #ffffe1;
}

.component
{
	fill-rule: evenodd;
}

.component.wire
{
	fill: grey;
}

.component.power
{
	fill: red;
}

.component.ground
{
	fill: blue;
}

.component.transistor
{
	fill: purple;
}

.transistor.invalid
{
	stroke: red;
	stroke-width: 2px;
	stroke-dasharray: 2px;
}

.drain-source
{
	stroke: #d0a1d0;
	stroke-width: 2px;
	stroke-linecap: round;
}

.component.bridge, .endpoint
{
	stroke-width: 1px;
	stroke: orange;
	stroke-dasharray: 1px;
	fill: orange;
	fill-opacity: 0.25;
}

.component:hover
{
	stroke: lightgreen;
	stroke-width: 2px;
	stroke-dasharray: 0px;
}

.component.connected, .connected > .component
{
	stroke: lightgreen;
	stroke-width: 2px;
	stroke-dasharray: 2px;
}

.component.high
{
	stroke: pink;
	stroke-width: 2px;
	stroke-dasharray: 0px;
}

.component.low
{
	stroke: lightblue;
	stroke-width: 2px;
	stroke-dasharray: 0px;
}

.component.unstable
{
	stroke: brown;
	stroke-width: 2px;
	stroke-dasharray: 0px;
}
