body
{
	margin: 0;
}

.selectRect
{
	fill: none;
	stroke-width: 1px;
	stroke: darkgrey;
	stroke-dasharray: 1px;
}

#center-dot
{
	fill: lightgrey;
}

#canvasContainer
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
}

#canvas
{
	width: 100%;
	height: 100%;
}

#saveBox
{
	max-width: 300px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	border: 2px solid black;
	background-color: white;
	padding: 10px;
}

#saveBox > p
{
	margin: 0 0 0.75em 0;
}

.component
{
	fill-rule: evenodd;
}

.component.wire
{
	fill: silver;
}

.component.power
{
	fill: red;
}

.component.ground
{
	fill: blue;
}

.component.transistor
{
	fill: purple;
}

.transistor.invalid
{
	stroke: red;
	stroke-width: 2px;
	stroke-dasharray: 2px;
}

.drain-source
{
	stroke: #d0a1d0;
	stroke-width: 2px;
	stroke-linecap: round;
}

.component.bridge, .endpoint
{
	stroke-width: 1px;
	stroke: grey;
	stroke-dasharray: 1px;
	fill: silver;
	fill-opacity: 0.5;
}

.component.connected, .connected > .component
{
	stroke: lightgreen;
	stroke-width: 2px;
	stroke-dasharray: 2px;
}

.component.high, .high > .component
{
	stroke: pink;
}

.component.low, .low > .component
{
	stroke: lightblue;
}

.component.unstable, .unstable > .component
{
	stroke: brown;
	stroke-width: 2px;
	stroke-dasharray: 0px;
}

.wire.high
{
	fill: pink;
}

.wire.low
{
	fill: lightblue;
}

.component.pinned.high
{
	stroke: #ff7d7d;
	stroke-width: 2px;
}

.component.pinned.low
{
	stroke: #6d6dff;
	stroke-width: 2px;
}
