.selectRect
{
	fill: none;
	stroke-width: 1px;
	stroke: darkgrey;
	stroke-dasharray: 1px;
}

.selectRect.hidden
{
	visibility: hidden;
}

svg > #background
{
	width: 100%;
	height: 100%;
	fill: #ffffe1;
}

.tile.none
{
	fill: #00000000;
}

.tile.wire
{
	fill: grey;
}

.tile.power
{
	fill: red;
}

.tile.ground
{
	fill: blue;
}

.tile.transistor
{
	fill: purple;
}

.tile.bridge
{
	border: 4px solid darkgrey;
	stroke-width: 1px;
	stroke: darkgrey;
}

.component
{
	stroke-width: 2px;
	stroke: orange;
	stroke-dasharray: 2px;
	fill: none;
}
